/* Role groups */
.membersGroup_c8ffbb {
    background: rgba(32, 181, 255, 0.025);
    color: #f03e61;
    margin: auto;

    /* Set initial border color and width */
    border-bottom-width: 0px;
    border-style: solid;
    border-color: transparent;

    /* Gradient border */
    border-image: linear-gradient(to right, #09a5ff8f, #09a5ff8f);
    border-image-slice: 1;
}

/* Members list */
.visual-refresh .membersWrap_c8ffbb {
    background: rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(225, 240, 253, 0.123);
}

/* Usernames in servers */
.username__5d473 {
    /* not bold text */
    font-weight: 600;

}
